@font-face {
    font-family: 'Data Control';
    src: url('fonts/DataControl.woff2') format('woff2'),
        url('fonts/data-latin.ttf') format('truetype'),
        url('fonts/DataControl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{    
    background-color: rgb(4, 9, 31);
}

@media screen and (min-width: 900px){
    .header-navigation>nav{
        color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        list-style: none;
        font-family: Data Control;
        cursor: pointer;
        background-color: rgb(4, 9, 31);
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .header-navigation li{
        padding: 15px 50px;
    }
    
    .header-navigation li:hover{
        background: rgb(16, 22, 51);
        transform: scale(1.1);
    }
    
    .container-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px 10px;
    }

    .name{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .name span{
        color: #b0fbff;
        font-family: Data Control;
        font-size: 32pt;
    }

    .name span:nth-of-type(2){
        font-weight: 800;
        margin-left: 10px;
    }

    .roles{
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: left;
    }

    .skills-div{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;

    }

    .about{
        background:#112240;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .about h1{
        color: #b0fbff;
        font-family: Data Control;
    }

    .about p{
        color: white;
        text-align: justify;
    }
    
        /* -- Portfolio -- */

        .work{
            margin-top: 100px;
            padding: 20px;
            background-color: #ebebeb;
        }
    
        .work>h1{
            text-align: center;
            color: #112240;
            font-family: Data Control;
        }
    
        #portfolio{
            display: flex;
            flex-direction: column;
        }
    
        #portfolio>.title{
            color: #112240;
            font-size: 14pt;
            display: inherit;
            justify-content: right;
            margin-top: 20px;
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
            padding: 10px;
        }
    
        .details{
            display: flex;
            justify-content: center;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
    
        .details>img{
            width: 30%;
        }
    
        .details>p{
            color: #112240;
            font-size: 10pt;
            text-align: justify;
            margin-left: 10px;
        }
    
        .view-more{
            margin: 15px 0;
            background-color: #112240;
            color: #ebebeb;
            padding: 7px 2px;
            width: 100px;
            border-style: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            font-family: Data Control;
            font-size: 11pt;
            position: relative;
            left: 70%;
            text-decoration: none;
            text-align: center;
        }
}

@media screen and (max-width: 900px) {

    /* === Header === */

    .header-navigation{
        position: fixed;
        width: 100%;
    }

    @keyframes changeMenuColor {
        0% {color: #b0fbff;}
        50% {color: white;}
        100% {color: #b0fbff;}
    }

    .header-navigation>nav{
        color: white;
        background-color: rgb(4, 9, 31);
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: 500;
        padding-bottom: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-family: Data Control;
    }

    .header-navigation>nav>li{
        padding: 20px;
    }

    .header-navigation>nav>li:hover{
        font-weight: 900;
        transform: scale(1.05);
        transition: 0.3s ease-in;
    }

    .content-header>img{
        margin-top: 50px;
    }

    /* === Body === */

    /* -- Presentation --*/

    .name{
        color: #b0fbff;
        font-family: Data Control;
        font-size: 28pt;
        display: flex;
        justify-content: center;
    }

    .name>span:nth-of-type(2){
        font-weight: 800;
        margin-left: 10px;
    }

    .roles{
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: Data Control;
    }

    .skills-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    table {
        color: white;
        margin: 0 20px;
    }

    th{
        padding: 20px 0px 20px;
        font-family: Data Control;
        font-size: 14pt;
    }

    .designer-skills{
        text-align: right;
    }



    /* -- About -- */

    .about{
        text-align: right;
        margin: 10px 20px;
        padding-left: 30px;
    }

    .about>h1{
        color: #b0fbff;
        font-family: Data Control;
    }

    .about>p{
        text-align: justify;
        margin: 20px 0;
        color: #ccd6f6;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* -- Portfolio -- */

    .work{
        margin-top: 100px;
        padding: 20px;
        background-color: #ebebeb;
    }

    .work>h1{
        text-align: center;
        color: #112240;
        font-family: Data Control;
    }

    #portfolio{
        display: flex;
        flex-direction: column;
    }

    #portfolio>.title{
        color: #112240;
        font-size: 14pt;
        display: inherit;
        justify-content: right;
        margin-top: 20px;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        padding: 10px;
    }

    .details{
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    .details>img{
        width: 30%;
    }

    .details>p{
        color: #112240;
        font-size: 10pt;
        text-align: justify;
        margin-left: 10px;
    }

    .view-more{
        margin: 15px 0;
        background-color: #112240;
        color: #ebebeb;
        padding: 7px 2px;
        width: 100px;
        border-style: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-family: Data Control;
        font-size: 11pt;
        position: relative;
        left: 70%;
        text-decoration: none;
        text-align: center;
    }

    /* -- Contact -- */

    .contact{
        color: white;
    }

    /* == Extra Components == */
    .scroll-up{
        position: fixed;
        padding: 10px;
        border-radius: 10px;
        top: 90%;
        left: 75%;
        color: #112240;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }

    .scroll-up>i{
        font-size: 15pt;
        position: relative;
        top: 5px;
    }

    .scroll-up>span{
        font-family: Data Control;
        margin-right: 7px;
        font-size: 20pt;
    }

}